# Backend Environment Variables
DATABASE_URL="postgresql://user:password@localhost:5432/marvelverse"
PORT=3000

# Frontend Environment Variables
NEXT_PUBLIC_API_URL="http://localhost:3000"

# TMDB API Credentials
TMDB_API_READ_ACCESS_TOKEN=
TMDB_API_KEY=
